

/* mobile */
@media screen and (max-width: 500px) { 

  body {
    background-color: $backgroundColorPhone;
  }

  nav ul {
    flex-direction: column;
  }

}

/* tablet */
@media screen and (min-width: 501px) and (max-width: 900px) { 
  body {
    background-color: $backgroundColorTabled;
  }
}